PUBLIC_DISCORD_USER_ID=000000000000000000
DISCORD_USER_ID=000000000000000000
PUBLIC_DISCORD_ABOUT=Aluno destaque de DS
DISCORD_BOT_TOKEN=YOUR_BOT_TOKEN_HERE
DISCORD_GUILD_ID=000000000000000000
PUBLIC_WEATHER_CITY=Sumare,BR
PUBLIC_WEATHER_LABEL=Meu local
