---
---

<section class="rounded-2xl border border-zinc-800 bg-zinc-900/40 p-6 grayscale hover:grayscale-0 transition-all duration-300 grid-cols-2">
  <h2 class="text-lg sm:text-xl font-semibold">Formação Acadêmica</h2>
  <p class="mt-2 text-sm text-zinc-200">
    Atualmente, sou estudante no SESI e curso Desenvolvimento de Sistemas no SENAI.
    Tenho paixão por tecnologia e gosto de criar programas, sites e explorar novas linguagens.
  </p>
</section>