---
import AgeTimeCard from "../components/AgeTimeCard.tsx";
---

<section id="Sobre" class="mb-10">
  <h1 class="mb-2 text-3xl font-semibold">Sobre Mim</h1>
  <p class="text-zinc-200">
    Sou estudante no SESI e curso Desenvolvimento de Sistemas no SENAI.
  </p>
  <AgeTimeCard client:load />
  <br />
  <p class="text-zinc-200">
    Gosto de criar programas, sites e estudar outras linguagens.
  </p>
</section>
