---
import GithubProfilePicture from "../components/GithubProfilePicture.tsx";
---

<header
  class="mx-auto w-full max-w-5xl flex flex-row items-center justify-between gap-6 py-8 md:py-10"
>
  <div class="flex flex-col items-start gap-2">
    <h1 class="text-3xl font-bold tracking-tight md:text-4xl">Lumiko</h1>

    <p class="text-lg text-zinc-400 md:text-xl">Desenvolvedor Front-end</p>

    <p class="max-w-xl text-left text-zinc-300">
      Bem-vindo ao meu portfólio. Aqui você encontrará alguns dos meus projetos,
      minhas habilidades e um pouco mais sobre mim.
    </p>
    <div class="inline-flex items-center gap-1 rounded-full border border-zinc-800 px-3 py-1 font-medium text-zinc-100 transition-colors hover:border-zinc-700 grayscale hover:grayscale-0 text-[14px]">
      <button type="button" class="cursor-pointer"> Donwload my CV </button>

    </div>
  </div>

  <GithubProfilePicture username="lumikinho" client:load /> 
  <!-- CHANGE "google" to your GitHub username in the line above -->
</header>
